@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    font-family: var(--font-roboto), Roboto, system-ui, sans-serif;
  }

  select {
    font-family: var(--font-lato), Lato, system-ui, sans-serif;
  }

  p {
    font-family: var(--font-lato), Lato, system-ui, sans-serif;
  }

  text-input {
    font-family: var(--font-lato), Lato, system-ui, sans-serif;
  }

  input {
    font-family: var(--font-lato), Lato, system-ui, sans-serif;
  }

  button {
    font-family: var(--font-lato), Lato, system-ui, sans-serif;
  }

}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}